@using KUSYS_Demo.Models.Domain
@model IEnumerable<KUSYS_Demo.Models.DTO.Courses>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    string username = User.Identity.Name;
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
 
        @*    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    *@    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <style>
             table.table tr th, table.table tr td {
            border-color: #e9e9e9;
            padding: 12px 15px;
            vertical-align: middle !important;

        }


                .table-title {
            padding-bottom: 15px;
            background: #435d7d !important;
            color: #fff !important;
            padding: 16px 30px;
            min-width: 100%;
            margin: -20px -25px 10px;
            border-radius: 3px 3px 0 0;
        }






    </style>




</head>

<body>
<div class="row">
    <div class="col-md-8 offset-md-2">
            @if (SignInManager.IsSignedIn(User))
            {
                <p id="username"  >Hello @UserManager.GetUserName(User)</p>
            }
        <h1>Enroll Course</h1>



            <div class="container-xl">
                <div class="table-responsive">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h2>Student <b>List</b></h2>
                                </div>

                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Course Id</th>
                                    <th>Course Name</th>
                                                   </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.CourseId)
                                        </td>
                                        <td>

                                            @Html.DisplayFor(modelItem => item.CourseName)

                                        </td>
                                     
                                        <td style="text-align-last: end;">



                                            <button id="selectbtn" value="@item.CourseId" type="button" class="btn btn-primary" onclick="myFunction(this.value)" data-target="#myModal">
                                                Select
                                            </button>


                                        </td>


                                    </tr>


                                }





                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
  





    </div>
</div>



    <script type="text/javascript">

        function myFunction(id) {
      


            let courseId = id
   

            data1 = { Courseid: courseId, username: "@username" }

            $.ajax({
                url: '@Url.Action("PostName","Course")',
                type: 'POST',
                dataType: 'json',
                data: data1,
                success: function (gelenveri) {
                   console.log("Ders seçildi.")
                },
                error: function (hata) {
                    console.log("Ders seçilemedi.")
                }
            });






        }



    </script>


</body>